$fill-beige: #e2e1cd;
$fill-black: #1a282c;
$fill-pink: #ffa3d1;
$fill-orange: #db7b1c;
$fill-light-blue: #98dde7;
$fill-blue: #3035ff;
$fill-white: #ffffff;
$fill-light-grey: #f6f6f6;
$fill-red: #ff542d;
$fill-green: #00b2b6;
$fill-grey: #979797;
$fill-yellow: #ffcd00;
$ui-field-background: rgba(26, 40, 44, 0.03);
$fill-dark-grey: #737373;
$fill-soft-black: #364e55;
$fill-ark: #00b2b6;
$fill-dark-green: #008067;
