@import "../../assets/scss/Variable.scss";

.forgot-password-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: $fill-ark;
  .forgot-password-page__logo {
    margin-bottom: 5px;
  }
  .forgot-password-page__heading {
    margin-bottom: 40px;
  }
  .forgot-password-page__login {
    margin-bottom: 20px;
  }
  .forgot-password-page__send-btn {
    width: 100%;
    display: flex;
    justify-content: center;

    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
      background: $fill-ark;
      width: 100%;
      color: $fill-white;
      border: 1px solid $fill-white;
    }
  }
  .forgot-password-page__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  input[type="text"],
  input[type="password"] {
    border-radius: 4px;
    background-color: $fill-white;
  }
}
